.section4-header{
  background-color: #2b63d9;
  height: auto;
  padding:64px 64px;
}

.section4-div1
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section4-div1 h3{
  font-size: x-large;
  color:white;
  font-weight: bold;
}
.section4-div1 p{
  color: var(--primary-200, #B1CCFB);
text-align: center;
/* Text L/Regular */
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
letter-spacing: -0.1px;
}

.line1{
  display: flex;
  width: 100%;
}
.card{
 background-color:  rgba(57, 113, 231, 1);
 padding: 24px 32px;

}
.left{
  width:50%
}
.right{
  width:50%
}
.left img{
  font-size: medium;
}
.right button{


  padding: 12px 18px;

  gap: 6px;

  width: 100%;
  height: auto;
  font-size: small;

  background-color: white;
  color: var(--primary-600, #437EF7);
  border:none;
  border-radius: 5px;
}
.line2 h5
{
  color: var(--base-white, #FFF);
/* Headline XS/Desktop/Semibold */
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px; /* 136.364% */
  letter-spacing: -0.22px;
  padding-top: 24px;
}
.line2 p
{
  padding-top: 10px;
  color: var(--primary-200, #B1CCFB);
/* Text L/Regular */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: -0.1px;

}

.section4-card-header{

  display: grid;
  grid-template-columns: repeat(3, 30%);
  grid-column-gap: 50px;
  grid-row-gap:30px;

}

@media screen and (max-width: 768px) and (min-width: 475px)  {
  body {
    .section4-card-header{

      display: grid;
      grid-template-columns: repeat(2, 47%);
      grid-column-gap: 50px;
      margin-bottom: 30px;

    }
  }
}
@media screen and (max-width: 475px)  {
  body {
    .section4-card-header{

      display: grid;
      grid-template-columns: repeat(1, 95%);
      grid-column-gap: 32px;
      margin-bottom: 32px;

    }
    .section4-header{
      background-color: #2b63d9;
      height: auto;
      padding:40px;
    }
  }
}
