.section3_header{
  margin: 5%;

  display: grid;
  /* todo 1 row ma kitny div aain gay */
  grid-template-columns: repeat(4, 25%);

}

.section3_header div h1
{
  color: var(--gray-700, #272D37);
/* Headline L/Desktop/Semibold */
font-family: Inter;
font-size: 36px;
font-style: normal;
font-weight: 600;
line-height: 44px; /* 122.222% */
letter-spacing: -0.72px;
}
.section3_header div p{
  color: var(--gray-50, #5F6D7E);
/* Text L/Regular */
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
letter-spacing: -0.1px;
}

@media screen and (max-width: 768px) and (min-width: 375px)  {
  body {
    .section3_header{
      margin: 5%;

      display: grid;
      /* todo 1 row  ma kitny div aain gay */
      grid-template-columns: repeat(2, 50%);

    }
  }
}

@media screen and (max-width: 375px)   {
  body {
    .section3_header{
      /* margin: 5%; */

      display: grid;
      /* todo 1 row ma kitny div aain gay */
      grid-template-columns: repeat(1, 100%);

    }
  }
}


