.section5-container{
  width: 100%;
  height: auto;
  padding:40px 32px 40px 32px;
  display: flex;
  flex-direction: row;
  gap:64px;
}
.section5-left{
  width:50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.section5-line1{
  color:rgba(67, 126, 247, 1);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
.section5-button{
  width: 100%;
  display: flex;
  flex-direction: row;
  padding-right: 10px;
  justify-content: start;
  align-items: start;
  gap: 15px;
}
.section5-button button{
  width: auto;
  border:none;
  background-color: rgba(67, 126, 247, 1);
  color:white;
  padding:18px;
  border-radius: 5px;
}
.section5-line2{

  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
.section5-line2 p{

  color: var(--gray-700, #272D37);
/* Headline M/Desktop/Semibold */
font-family: Inter;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: 42px; /* 131.25% */
letter-spacing: -0.32px;
}

.section5-right{

  width:50%;
  height:560px;
  background-image: url('/images/section5.png');
  background-size: cover;
  background-repeat: no-repeat;
}
.section5-right img{
  height:540px;
  width:100%
}
@media screen and (max-width: 768px) and (min-width: 375px)  {
  body {
    .section5-container{
      width: 100%;
      height: auto;
      padding:40px, 32px, 40px, 32px;
      display: flex;
      flex-direction: column;
    }
    .section5-left{
      width:100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .section5-right{
      width:100%;
      height:540px;
      background-image: url('/images/section5.png');
      background-size: cover;
      background-repeat: no-repeat;
      margin-top: 15px;
    }
    .section5-line2{

      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: start;
    }

  }
}


@media screen and (max-width: 375px)   {
  body {
    .section5-container{
      width: 100%;
      height: auto;
      padding:32px 16px 32px 16px;
      display: flex;
      flex-direction: column;
    }
    .section5-left{
      width:100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .section5-right{
      width:100%;
      height:343px;
      background-image: url('/images/section5.png');
      background-size: contain;
      background-repeat: no-repeat;
      margin-top: 15px;
    }
    .section5-line2{

      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: start;
    }

  }
}
